nav h1 {
    float: left
}

input {
    float: right;
}

#slideshow img{
    width: 100%;
    height: 300px;
}

#meus-cursos{
    background-color: lightgray;
}

#container-meus-cursos, #contato-redes {
    margin-left: 60px;
    margin-right: 60px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between; 
}

.card {
    border: solid 2px black;
    width: 250px;
    height: 350px;
    margin: 20px;
}

.card img{
    width: 100%;
}

#contato-redes{
    display: flex;
}

#logo-mensagem {
    width: 60%;
}

#contato, #redes-sociais {
    width: 20%;
}

footer {
    background-color: lightgray;
}

